nav {
    background-color: black;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;

    padding: 1.5rem;

    list-style: none;
}

.nav-item a{
    text-decoration: none;
    color: white
}

.logo-img {
    width: 192px;
    height: 108px;
}